
body {
    color: white;
    background: rgb(163, 162, 99);
    margin:0px;
    font-family: "Manrope", sans-serif;
    font-size: 31px;
    margin-bottom: 100px;
    
}
header {
border-bottom: solid 2px rgb(83, 65, 3);
padding: 20px;
font-size: 32px;
color: white;
}
.chamada{
    background: #8d7c03;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 31px;
}
p{
    font-size: 31px;
}
img{
height: 200px;
}
h2{
    color: orange;
}
.categoria-videos{

    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img{

    opacity: 0.5;
    height: 200px;

}
.categoria-videos img:hover{

    opacity: 1.0;
    border: 2px solid orange;
}

    
  